.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 120px;
  background: #fff;
  padding-bottom: 30px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  border-radius: 20px;
}

.input input {
  padding-left: 3px; /* Adjust left padding for spacing inside the input field */
}

.img {
  width: 20px;
  height: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: larger;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  align-items: center;
  gap: 9px;
}

.inputPair {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* Add any additional styles for the input container */
}

.box {
  background: rgb(8, 51, 68);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  margin: 20px auto;
}

/* Add any additional global or specific styles as needed */
